@import '../../styles/variables.scss';

.cartEmpty {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;

    h2 {
        margin: 0 0 16px 0;
    }

    p {
        width: 280px;
        line-height: 24px;
        margin: 0 0 30px 0;
    }

    .greenButton {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $info-main;
        color: $primary-light;
        padding: 18px;
        border: none;
        border-radius: 18px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        width: 245px;

        &:hover,
        &:focus {
            background: lighten($info-main, 5%);
        }

        &:hover .arrowLeft {
            left: 20px;
        }

        &:focus .arrowLeft {
            left: 20px;
        }

        &:active {
            background: darken($info-main, 8%);
        }

        .arrowLeft {
            position: absolute;
            transform: rotate(180deg);
            left: 30px;
            top: calc(50% - 7px);
        }
    }
}
