@import '../../styles/variables.scss';

.overlay {
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.overlayVisible {
    visibility: visible;
    opacity: 1;

    .drawer {
        transform: translateX(0);
    }
}

.drawer {
    width: 420px;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background: $primary-light;
    padding: 30px;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: all 0.3s ease;

    @media screen and (max-width: 420px) {
        width: 100%;
    }

    ::-webkit-scrollbar {
        width: 18px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px 10px transparent;
        border: solid 1px transparent;
        border-radius: 15px;
    }

    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 10px 10px $secondary-light;
        border-right: solid 5px transparent;
        border-left: solid 5px transparent;
        border-radius: 10px;
    }

    .items {
        flex: 1;
        overflow: auto;
        margin-bottom: 40px;
    }

    .cartItem {
        display: flex;
        align-items: center;
        border: 1px solid $secondary-light;
        border-radius: 20px;
        padding: 12px 20px;
        overflow: hidden;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        img {
            margin-bottom: 14px;
            margin-right: 20px;
        }

        div {
            flex: 1;

            .title {
                font-size: 14px;
                margin: 0 12px 6px 0;
            }
        }

        b {
            font-size: 16px;
        }

        .btnRemove {
            margin: 0;
            opacity: 0.5;
            cursor: pointer;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }

    h2 {
        margin: 0;
    }
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $shading;
}

.cartTotal {
    ul {
        margin-bottom: 30px !important;

        li {
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;
        }

        div {
            height: 1px;
            flex: 1;
            margin: 0 10px 3px 6px;
            border: 1px dashed $secondary-light;
        }
    }
}

.greenButton {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $info-main;
    color: $primary-light;
    padding: 18px;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    &:disabled {
        background-color: $secondary-main;

        animation: button-loading 1s ease infinite;

        &:hover,
        &:focus {
            background: $secondary-main;
            cursor: default;
        }

        &:hover .arrowRight {
            right: 30px;
        }

        &:focus .arrowRight {
            right: 30px;
        }

        &:active {
            background: $secondary-main;
        }
    }

    &:hover,
    &:focus {
        background: lighten($info-main, 5%);
    }

    &:hover .arrowRight {
        right: 20px;
    }

    &:focus .arrowRight {
        right: 20px;
    }

    &:active {
        background: darken($info-main, 8%);
    }

    .arrowRight {
        position: absolute;
        right: 30px;
        top: calc(50% - 7px);
    }
}

@keyframes button-loading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}